@use '../../styles/variables' as *;

.project-card {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 18px 40px rgba(18, 24, 32, 0.06);
  overflow: hidden;
  align-items: center;

  a {
    width: 38%;
    display: flex
  }

  &.reversed {
    flex-direction: row-reverse;
  }

  img {
    flex: 1 1 50%;
    border-radius: 19px;
    width: 100%;
    height: 250px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .project-info {
    flex: 1 1 50%;
    padding: 30px;

    h3 {
      margin-bottom: 16px;
      font-size: 1.75rem;
    }

    p {
      margin-bottom: 16px;
      color: $subtext-color;
    }

    button {
      padding: 10px 20px;
      border-radius: 50px;
      border: 1px solid $text-color;
      background-color: white;
      cursor: pointer;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .project-card {
    flex-direction: column; 
    align-items: center;
    text-align: center;

    a {
      width: 100%;
      justify-content: center;
    }

    &.reversed {
      flex-direction: column;
    }

    img {
      order: 1;
      width: 100%;
      height: auto;
      max-height: 240px;
      object-fit: cover;
      border-radius: 0;
    }

    .project-info {
      order: 2;
      padding: 20px;
      text-align: center;
    }
  }
}