@use '../../styles/variables' as *;

.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
  position: relative;
  align-items: center;

  .hero-text {
    flex: 1 1 500px;

    .subtitle {
      color: $primary-color;
      font-weight: 600;
      margin-bottom: 16px;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 24px;
    }

    p {
      color: $subtext-color;
      margin-bottom: 32px;
    }

    .buttons {
      button {
        padding: 10px 20px;
        margin-right: 16px;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;

        &.primary {
          background-color: $primary-color;
          border: none;
          color: white;
        }

        &.secondary {
          background-color: white;
          border: 1px solid $text-color;
          color: $text-color;
        }
      }
    }
  }

  .hero-image-wrapper {
    flex: 1 1 500px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: -78px; // visually align image + svg with hero text

    .hero-background-svg {
      position: absolute;
      width: 520px;
      height: 520px;
      right: 0;
      top: 0;
      z-index: -1;
    }

    .hero-main-img {
      width: 100%;
      height: 94%;
      top: 58px;
      left: 58px;
      border-radius: 30px;
      position: relative;
      z-index: 1;
    }
  }

  @media (max-width: 1024px) {
    .hero-image-wrapper {
      .hero-background-svg {
        width: 460px;
        height: auto;
      }

      .hero-main-img {
        top: 25px;
        width: 55%;
      }
    }
  }

  @media (max-width: 860px) and (min-width: 789px) {
    .hero-image-wrapper {
      .hero-background-svg {
        width: 460px;
        height: auto;
      }

      .hero-main-img {
        right: 40px;
        top: 28px;
        width: 67%;
      }
    }
  }

  @media (max-width: 768px) {
    align-items: center;
    text-align: center;

    .hero-text {
      order: 1;
      width: 100%;
      padding: 0 20px;
      margin-bottom: 40px;

      h1 {
        font-size: 2rem;
      }
    }

    .hero-image-wrapper {
      order: 2;
      position: relative;
      width: 100%;
      justify-content: center;
      margin-top: 0;
      overflow: visible;

      .hero-background-svg {
        position: relative;
        width: min(90vw, 420px);
        height: auto;
        right: auto;
        top: auto;
        margin: 0 auto;
      }

      .hero-main-img {
        position: absolute;
        top: 53%;
        left: 55%;
        width: 65%;
        transform: translate(-50%, -50%);
        border-radius: 24px;
        object-fit: cover;
        height: auto;
      }
    }
  }

  @media (max-width: 480px) {
    .hero-text h1 {
      font-size: 1.8rem;
    }

    .hero-image-wrapper .hero-background-svg {
      width: min(95vw, 350px);
    }

    .hero-image-wrapper .hero-main-img {
      top: 53%;
      left: 53%;
      width: 100%;
    }
  }

  @media (max-width: 375px) {
    .hero-text h1 {
      font-size: 1.8rem;
    }

    .hero-image-wrapper .hero-background-svg {
      width: min(95vw, 350px);
    }

    .hero-image-wrapper .hero-main-img {
      top: 52%;
      left: 56%;
      width: 108%;
    }
  }
}