@use '../../styles/variables' as *;

#contacts {
  form {
    max-width: 500px;
    margin: 0 auto;

    label {
      display: block;
      margin-bottom: 16px;

      input,
      textarea {
        width: 100%;
        padding: 8px 12px;
        border-radius: 8px;
        border: 1px solid #D1D5DB;
        margin-top: 4px;
      }
    }

    .submit-button {
      display: flex;
      justify-content: center;
    }

    button {
      background-color: $primary-color;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}